@import '../Consts';

.contents{
  display: flex;
  justify-content: space-between;
  width: 100%;
  .content{
    text-align: left;

    width: 100%;
    div{
      display: flex;
      align-items: center;
      div
      {
        min-width: 120px;
      }
      textarea{
        height: 100px;
        width: 350px;
      }
    }
  }
}
