@import 'Consts';

.content{
  header{
    height: 58px;
    font-size: 36px;
    line-height: 160%;
    margin-bottom: 50px;
  }
  .contentGrid{
    display: flex;
    justify-content: space-between;

    .block{
      &:nth-child(even)
      {
        margin-inline: 25px;
      }
      @include inter;
      height: 230px;
      width: 360px;
      background: $whiteGreen;
      padding: 15px;
      .index{
        font-size: 10px;
      }
      .info{
        margin: auto;
        width: 285px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
        .header{
          text-align: left;
          width: 100%;
          display: flex;
          font-size: 22px;
          line-height: 120%;
          align-items: end;
          text-transform: uppercase;
          .smallHead{
            padding-left: 10px;
            font-size: 14px;
            line-height: 17px;
            text-transform: lowercase;
          }
        }
        .description{
          font-size: 14px;
          line-height: 160%;
          height: 88px;
          padding-top: 15px;
        }
      }
    }
  }
}
@media (min-width: 1080px)
{
  .content{
    header{
      width: 1032px;
    }
  }
}
@media (max-width: 1080px)
{

  .content{
    header{
      font-size: 26px;
      text-align: center;
    }
    .contentGrid{
      flex-direction: column;
      align-items: center;
      .block{
        &:nth-child(even)
        {
          margin:25px 0;
        }
      }
    }
  }
}
@media (max-width: 430px)
{
  .content{
    header{
      font-size: 16px;
    }
    .contentGrid{
      .block{
        width: 260px;
        .info{
          width: 200px;
          .header{
            font-size: 16px;
          }
          .description{
            font-size: 12px;
          }
        }
      }
    }
  }
}