@import 'Consts';

$maxWidth:600px;

@mixin redCrossMix{
  position: absolute;
  content: ' *';
  color: red;
}

.content {
  padding-top: 140px;
  padding-inline: 200px;
  width: 100%;
  padding-left: 35%;

  .container {
    text-align: left;
    max-width: $maxWidth;

    .header {
      font-size: 15pt;
      @include gotham;
      padding-bottom: 15px;
    }

    .form {
      width: 100%;
      margin: auto;

      .agrees{
        display: flex;
        align-items: start;
        padding-bottom: 15px;
        span{
          text-align: justify;
          .checkbox{
            padding-right: 10px;
          }
          float: left;
          font-size: 12px;
          .redCross{
            @include redCrossMix;
            z-index: 5000;
          }
        }
      }
      .placeholder {
        position: absolute;
        left: 15px;
        top: 15px;
        opacity: 0.4;
        pointer-events: none;
        span:after {
          @include redCrossMix;
        }
      }
      .inputBlock {
        &:last-child {
          border: 0;
        }

        position: relative;
        border-bottom: 1px solid rgb(0, 0, 0, 0.2);
        margin-bottom: 15px;


        textarea {
          @include inter;
          font-size: 16px;
          padding: 15px;
          max-width: $maxWidth;
          min-width: $maxWidth;
          min-height: calc($maxWidth - 500px);
          max-height: calc($maxWidth * 0.5);
          border: 0;
          outline: 0;
        }

        input {
          padding: 15px 5px;
          width: 100%;
          border: 0;
          outline: 0;
        }



        input:not(:placeholder-shown) ~ label {
          color: transparent;
          visibility: hidden;
        }

        textarea:not(:placeholder-shown) ~ label {
          color: transparent;
          visibility: hidden;
        }
      }

      button {
        width: 100%;
        height: 50px;
        font-weight: bold;
        @include gotham;
        background-color: $lightGreen;
        border:0;
        cursor: pointer;
        border-radius: 5px;
      }

    }
  }
}