@import 'Consts';

$maxHeight:300px;

.checkForm{
  .formBlock{
    max-height: $maxHeight;
    background-color: #faf9f9;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    .form{
      z-index: 5;
      padding: 25px;
      header{
        @include gotham;

        padding-bottom: 15px;
      }
      .inputBlock{
        position: relative;
        header{
          @include inter;
          font-size: 16px;
        }
        input{
          padding: 10px 15px;
          width: 100%;
          border:1px solid gainsboro;
          outline: 0;
          border-radius: 5px;
          opacity: 0.5;
        }
        .question{
          background-color: $lightGreen;
          padding: 5px;
          color:#fff;
          border-radius: 50%;
          cursor: pointer;
          top:55%;
          position: absolute;
          right: 20px;
        }
      }
      .successBlock{
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        button{
          @include gotham;
          padding: 15px;
          width: 50%;
          background-color: $lightGreen;
          color:#fff;
          font-size: 16px;
          border:0;
          border-radius: 10px;
          cursor: pointer;
        }
      }
    }
    .image{
      max-height:calc($maxHeight - 50px);
    }
  }
  p{
    padding-top: 15px;
    @include inter;
    a{
      color:$lightGreen;
      text-decoration: underline;
    }
  }
}
@media (min-width: 1150px){
  .checkForm{
    .formBlock{
      .form{
        header{
          font-size: 26px;
        }
        .inputBlock{
          input{
            font-size: 26px;
          }
        }
      }

    }
  }
}
@media (max-width: 1150px){
  .checkForm{
    .formBlock{
      flex-direction: column;
      .form{
        header{
          font-size: 26px;
        }
        .inputBlock{
          input{
            font-size: 26px;
          }
        }
      }
      .image{
        display: none;
      }
    }
  }


}
@media (max-width: 500px){
  .checkForm{
    .formBlock{
      .form{
        header{
          font-size: 16px;
        }
        .inputBlock{
          input{
            font-size: 16px;
          }
          .question{
            top:55%;
            padding: 3px;
            right: 8px;
          }
        }
        .successBlock{
          flex-direction: column;
          button{
            width: 100%;
            margin-top: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 420px){
  .checkForm{
    .formBlock {
         .form{
           .inputBlock{
             .question {
               top: 65%;
               padding: 3px;
               right: 8px;
             }
           }
         }
    }
  }
}
