.list{
    height: 500px;
    overflow: visible;
}
.card{
    text-align: center;
    height: 300px;
    .image{
        max-width: 280px;
        max-height: 280px;
    }
    &:hover{
        transition: background-color 2s;
        background-color: cornflowerblue;
        cursor: pointer;
    }
}
