.list{
    height: 500px;
    overflow: visible;
}
.card{
    text-align: center;
    height: 300px;
    max-height: 280px;

    .image{
        max-width: 280px;

        max-height: 180px;
    }
    &:hover{
        transition: background-color 2s;
        background-color: cornflowerblue;
        cursor: pointer;
    }
}
