.headerBlock {
  max-width: 1602px;
  z-index: 9;
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 140px;
  margin-left: -1px;
}
.headerBlock header {
  font-family: "Gotham Pro", serif;
  font-size: 16px;
  line-height: 10px;
  color: #4B4B4B;
  cursor: pointer;
}
.headerBlock .header {
  transition: 2s;
  position: absolute;
  display: grid;
  align-items: center;
  grid-template-columns: max-content 1fr;
  top: 70px;
  height: 70px;
  padding-bottom: 25px;
}
.headerBlock .header .logo {
  height: 100%;
}
.headerBlock .header .logo img {
  width: 219px;
  height: 50px;
}
.headerBlock .header .menu {
  justify-content: end;
}
.headerBlock .header .menu nav {
  padding-left: 20px;
  height: 20px;
}
.headerBlock .header .menu nav:last-child {
  min-width: 205px;
}
.headerBlock .header .menu nav:last-child a {
  border-bottom: 1px solid #8DC640;
  padding-bottom: 5px;
}
.headerBlock .header .burgerBlock div .hamburgerMenu {
  flex-direction: column;
  justify-content: end;
  align-items: end;
  cursor: pointer;
}
.headerBlock .header .burgerBlock div .hamburgerMenu .line {
  width: 40px;
  height: 4px;
  border-radius: 30px;
  background-color: #8DC640;
  margin-bottom: 5px;
}
.headerBlock .hiddenBurger {
  transform: translateX(1060px) !important;
  transition: 0.1s;
}
.headerBlock .visibleBurger {
  transform: translateX(0px) !important;
  transition: 1s;
}
.headerBlock .burgerMenu {
  background-color: #f9f9f9;
  width: 100%;
  position: absolute;
  top: 140px;
}
.headerBlock .burgerMenu nav {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.headerBlock .burgerMenu nav div {
  text-align: center;
  width: 80%;
  margin-inline: 10%;
  border-bottom: 1px solid #c9c6c6;
  padding-bottom: 15px;
}
.headerBlock .burgerMenu nav:last-child div {
  border-bottom: 1px solid #8DC640;
}

@media (min-width: 1280px) {
  .header {
    left: 200px;
    width: 90%;
    padding-right: 200px;
  }
  .menu {
    width: 100%;
  }
  .menu nav:last-child {
    margin-left: 50px;
  }
}
@media (max-width: 1280px) {
  .header {
    left: 100px;
    padding-right: 100px;
  }
  .menu {
    min-width: 800px;
  }
  .menu nav:last-child {
    margin-left: 3%;
  }
}
@media (max-width: 1200px) {
  .menu {
    min-width: 700px;
  }
}
@media (max-width: 980px) {
  .header {
    left: 15px;
  }
  .menu {
    min-width: 600px;
  }
}
@media (min-width: 768px) {
  .menu {
    display: flex;
  }
  .hamburgerMenu {
    display: none;
  }
  .burgerBlock {
    display: none;
  }
  .hiddenBurger {
    display: none;
  }
  .headerBlock {
    height: 140px;
  }
}
@media (max-width: 768px) {
  .burgerBlock {
    position: absolute;
    right: 45px;
    width: 100%;
    top: 8px;
  }
  .menu {
    display: none;
  }
  .hamburgerMenu {
    display: flex;
    width: 100%;
  }
  .header {
    width: 100%;
  }
}
@media (max-width: 325px) {
  .headerBlock {
    min-width: 300px;
  }
  .header {
    left: 2%;
  }
  .burgerBlock {
    right: 15px;
  }
}

/*# sourceMappingURL=HeaderTemplate.module.css.map */
