@import 'Consts';

@mixin uridicalHref{
  &:last-child{
    min-width: 205px;
    a{
      border-bottom: 1px solid #8DC640;
      padding-bottom: 5px;
    }
  }
}

.headerBlock{
  max-width: 1602px;
  z-index: 9;
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 140px;
  margin-left: -1px;
  header{
    @include HREF;
    cursor: pointer;
  }
  .header{
    transition: 2s;
    position: absolute;
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr;
    top:70px;
    height: 70px;
    padding-bottom: 25px;
    .logo{
      height: 100%;
      @include logo;
    }
    .menu{
      justify-content: end;
      nav{
        padding-left: 20px;
        height: 20px;
        @include uridicalHref;

      }
    }
    .burgerBlock{
      div{
        .hamburgerMenu{
          flex-direction: column;
          justify-content: end;
          align-items: end;
          cursor: pointer;
          .line{
            width: 40px;
            height: 4px;
            border-radius: 30px;
            background-color: $lightGreen;
            margin-bottom: 5px;
          }
        }
      }
    }

  }
  .hiddenBurger{
    transform: translateX(1060px) !important;
    transition: .1s;
  }
  .visibleBurger{
    transform: translateX(0px) !important;
    transition: 1s;
  }
  .burgerMenu{
    background-color: $lightGray;
    width: 100%;
    position: absolute;
    top:140px;
    nav{
      width: 100%;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      div{
        text-align: center;
        width: 80%;
        margin-inline: 10%;
        border-bottom: 1px solid #c9c6c6;
        padding-bottom: 15px;
      }
      &:last-child{
        div{
            border-bottom: 1px solid $lightGreen;
        }
      }
    }
  }
}

@media (min-width: 1280px)
{
  .header{
    left: 200px;
    width: 90%;
    padding-right: 200px;

  }
  .menu{
    width: 100%;
    nav{
      &:last-child{
        margin-left: 50px;
      }
    }
  }
}

@media (max-width: 1280px)
{
  .header{
    left: 100px;
    padding-right: 100px;
  }
  .menu{
    min-width: 800px;
    nav{
      &:last-child{
        margin-left: 3%;
      }
    }
  }

}

@media (max-width: 1200px)
{
  .menu{
    min-width: 700px;

  }
}
@media (max-width: 980px)
{
  .header{
    left: 15px;
  }
  .menu{
    min-width: 600px;
  }

}
@media (min-width: 768px)
{
  .menu{
    display: flex;
  }
  .hamburgerMenu{
    display: none;
  }
  .burgerBlock{
    display: none;
  }
  .hiddenBurger{
    display: none;
  }
  .headerBlock{
    height: 140px;
  }
}
@media (max-width: 768px)
{

  .burgerBlock{
    position: absolute;
    right: 45px;
    width: 100%;
    top:8px;
  }
  .menu{
    display: none;
  }
  .hamburgerMenu{
    display: flex;
    width: 100%;
  }
  .header{
    width: 100%;
  }



}
@media (max-width: 325px)
{
  .headerBlock{
    min-width: 300px;
  }
  .header{
    left: 2%;
  }
  .burgerBlock{
    right: 15px;
  }
}