@import 'Consts';

.footer{
  transition: 2s;
  width: 100%;
  margin-top: 100px;
  background-color: #fff;
  padding: 15px 200px;
  padding-bottom: 50px;
  @include inter;
  .footerFlex{
    display: flex;
    justify-content: space-between;
    .content{
      width: 50%;

      .logo{
        padding-bottom: 20px;
      }
      .contacts{
        display: flex;
        justify-content: space-between;
        div{
          padding:5px 0;
        }
        .footerLink {
          a{
            color: $lightGreen;
          }
        }
      }
    }
    .createContract{
      width: 420px;
      background-color: $whiteGreen;
      padding: 25px;
      div{
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        header{
          @include gotham;
          width: 287px;
          color:black;
          font-size: 28px;
          line-height: 27px;
        }
        .inputBlock{
          position: relative;
          height: 30px;
          width: 100%;
          input{
            width: 100%;
            background-color: transparent;
            font-size: 14px;
            padding-bottom: 5px;
            border:0;
            outline: 0;
            border-bottom: 1px solid rgba(0,30,50,0.6);
            @include inter;
            padding-right: 45px;
          }
          .icon{
            position: absolute;
            right: 0;
            top:-2px;
            cursor: pointer;
            img{
              width: 35px;
            }
          }
        }
      }
    }
  }
  footer{
    width: 1020px;
    padding-top: 35px;
    @include inter;
    font-size: 14px;
    line-height: 160%;
  }
}

@media (max-width: 1280px)
{
 .footer{
   padding-inline: 140px;
   padding-left: 100px;
 }
}
@media (max-width: 1125px)
{
  .footer{
    footer{
      width: 900px;
      text-align: center;
    }
  }
}
@media (max-width: 1108px)
{
  .footer{
    padding-right: 50px;
    .createContract{
      padding-left: 55px;
    }
  }
}
@media (max-width: 1005px)
{
  .footer{
    footer{
      width: 800px;
    }
  }
}
@media (max-width: 980px)
{
  .footer{
    padding-inline: 15px;
    .content{
      .contacts{
        padding-right: 35px;
      }
    }
  }
}

@media (max-width: 768px)
{
  .footer{
    .footerFlex{
      flex-direction: column;
      align-items: center;
      .content{
        width: 100%;
      }
    }
    .createContract{
      margin: auto;
      height: 150px;
      margin-top: 15px;
    }
    footer{
      margin: auto;
      width: 500px;
    }
  }
}
@media (max-width: 500px)
{
  .footer{
    .footerFlex{
      .content{
        width: 100%;
      }
      .createContract{
        min-width: 300px;
        width: 100%;
        div{
          header{
            font-size: 24px;
          }
        }
      }
    }
    footer{
      width: 300px;
    }
  }
}
@media (max-width: 380px)
{
  .footer{
    .footerFlex{
      .content{
        .contacts{
          flex-direction: column;
          align-items: center;
          text-align: left;
          div{
            width: 100%;
            padding-left: 5px;
          }
        }
      }
    }
  }
}