@import "../../../styles/Consts";

.contentGrid{
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  @include inter;

  .instruction{
    padding-right: 25px;
  }
  &,.rightImage{
    height: 100%;
  }
  header{
    @include gotham();
    font-size: 18px;
    line-height: 140%;
    color: #D8D8D8;
  }
  .header{
    @include gotham();
    width: 360px;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    padding-top: 25px;
    padding-bottom: 35px;
  }
  .stepsGrid{
    display: flex;
    justify-content: space-between;
    .step{
      display: flex;
      align-items: center;
      padding: 30px 0;
      div{
        padding-left: 15px;
        width: 330px;

      }
    }
  }
  .sendButton{
    @include lightButton;
  }
  .footer{
    position: absolute;
    bottom: 0;
    span{
      font-weight: bold;
    }
  }
}
@media (max-width: 1600px)
{
  .contentGrid{
    .stepsGrid{
      .step{
        div{
          width: 280px;
        }
      }
    }
  }
}
@media (max-width: 1140px)
{
  .contentGrid{
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .rightImage{
      display: none;
    }
    .stepsGrid{
      .step{
        div{
          width: 260px;
        }
      }
    }
    .footer{
      bottom: -40px;
    }
  }
}
@media (max-width: 680px)
{
  .contentGrid{
    max-height: 100%;
    .header{
      font-size: 22px;
    }
    .stepsGrid{
        flex-direction: column;

    }
    .footer{
      bottom: -50px;
      left: 0;
    }
  }
}
@media (max-width: 420px) {
  .contentGrid{
    header{
      font-size: 12px;
      text-align: center;
    }
    .header{
      font-size: 16px;
      width: auto;
      text-align: center;
    }
   .instruction{
     padding-inline: 5px;
     .sendButton{
       width: 100%;

     }
   }
    .stepsGrid{
      .step{
        div{
          width: auto;
          font-size: 14px;
        }
      }
    }
    .footer{
      bottom: -70px;
    }
  }
}