@import '../../../styles/Consts';
$slideHeight:700px;

.sliderContainer {
  background-color: gainsboro;
  width: 100%;
  position: relative;
  .fon {
    z-index: 2;
    display:block;
    position:absolute;
    top:0px;

    background: #f5f5f5;
    height:100%;
    opacity:0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
  }
  .rightFon{
    right: 0;
  }


  [class*='slick-center']
  {
    padding-inline: 50px;
  }
  [class*='slick-slider']
  {
    background-color:#fff;
  }

  [class*='slick-arrow']:before
  {
    color:transparent;
  }
  [class*='slick-arrow']{
    z-index: 5;
    width: 50px;
    height: 50px;
    top:50%;
  }
}

@media (min-width: 1200px)
{
  .sliderContainer{
    width: 100%;

    [class*='slick-slide']
    {
      height: $slideHeight;
    }
    [class*='slick-prev'] {
      left: 25px;
    }
    [class*='slick-next']
    {
      right:15px;
    }

    .image{
      img{
        width: calc($slideHeight + 500px);
        height: auto;
      }
    }
    .fon{
      width:80px;
    }
  }
}
@media (max-width: 1200px)
{
  .sliderContainer{
    height:calc($slideHeight - 420px);

    [class*='slick-slide']
    {
      height: calc($slideHeight - 420px);
    }
    [class*='slick-prev'] {
      left: 25px;
    }
    [class*='slick-next']
    {
      right:15px;
    }

    .image{
      img{
        width: calc($slideHeight - 200px);
        height: auto;
      }
    }
    .fon{
      width:80px;
    }
  }
}
@media (max-width: 700px)
{
  .sliderContainer{
    height:calc($slideHeight - 300px);

    [class*='slick-slide']
    {
      height: calc($slideHeight - 300px);
    }
    .image{
      img{
        width: calc($slideHeight - 100px);
        height: auto;
      }
    }
    [class*='slick-prev'] {
      visibility: hidden;
    }
    [class*='slick-next']
    {
      visibility: hidden;
    }
    .fon{
      display: none;
    }
  }
}
@media (max-width: 580px)
{
  .sliderContainer {
    height:calc($slideHeight - 600px);

    [class*='slick-slide'] {
      height:calc($slideHeight - 500px);
    }

    .image {
      img {
        width: calc($slideHeight - 400px);
        height: auto;
      }
    }
  }
}
@media (max-width: 500px)
{
  .sliderContainer {
    height:calc($slideHeight - 550px);

    [class*='slick-slide'] {
      height:calc($slideHeight - 550px);
    }

    .image {
      img {
        width: calc($slideHeight - 500px);
        height: auto;
      }
    }
  }
}
@media (max-width: 350px)
{
  .sliderContainer {
    height:calc($slideHeight - 650px);

    [class*='slick-slide'] {
      height:calc($slideHeight - 650px);
    }

    .image {
      img {
        width: calc($slideHeight - 500px);
        height: auto;
      }
    }
  }
}